[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
pytube = {git = "https://github.com/pytube/pytube"}
telethon = "*"
update = "*"
aiohttp = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
